# Porta do servidor
PORT=3001

# Asaas API
ASAAS_API_KEY=seu_token_aqui
ASAAS_MODE=sandbox
ASAAS_CUSTOMER_ID=

# Admin credentials
ADMIN_USER=admin
ADMIN_PASS=admin123

# Valor do Pix
PIX_VALUE=19.90
